body {
    position: -ms-page;
    background: #090225;
    margin: 0;
}

/*moon with reflections*/
.moon {
    position: absolute;
    top: 4vh;
    right: 4vh;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    background: #fff;
    /*box-shadow: inset -20px 10px 5px 13px #f3d076*/
    box-shadow: inset 0 0 0 0 #fff,
        0 0 100px 160px #1e0974,
        0 0 200px 190px #140551;
}

.pavement {
    position: absolute;
    bottom: 0vh;
    height: 40vh;
    width: 100%;
    background: #676d71;
}

.road {
    position:fixed;
    bottom: -4vh;
    height: 40vh;
    width: 100%;
    background: #2b2b2c;
}

.road_decorations {
    position: fixed;
    top: 85vh;
    width: 100%;
    height: 20vh;
    border: none;
    border-top: 3vh dashed rgb(255, 255, 255);
}

/* lamps with lights*/
.lamp1 {
    position: fixed;
    top: 30vh;
    left: 10.3vh;
    width: 2vh;
    height: 30vh;
    background: #666565;
}

.lamp2 {
    position: fixed;
    top: 30vh;
    right: 9.7vh;
    width: 2vh;
    height: 30vh;
    background: #666565;
}


.lamp1_element {
    position: fixed;
    left: 9.3vh;
    width: 4vh;
    height: 2vh;
    background: #666565;
}

.lamp2_element {
    position: fixed;
    right: 8.7vh;
    width: 4vh;
    height: 2vh;
    background: #666565;
}

.lamp1_light {
    position: fixed;
    left: 2.3vh;
    width: 2vh;
    height: 2vh;
    border-left: 8vh solid transparent;
    border-right: 8vh solid transparent;
    border-bottom: 29vh solid rgb(227, 231, 10);
    opacity: 15%;
}

.lamp2_light {
    position: fixed;
    right: 1.7vh;
    width: 2vh;
    height: 2vh;
    border-left: 8vh solid transparent;
    border-right: 8vh solid transparent;
    border-bottom: 29vh solid rgb(227, 231, 10);
    opacity: 15%;
}

.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud5 {
    position: fixed;
    border-radius: 3vh;
    background: linear-gradient(360deg, #ffff 50%, rgb(176, 176, 176) 50%);
    width: 15vh;
    height: 3.5vh;
    animation: clouds 4s linear infinite;
}

.cloud1 {
    top: 5vh;
    left: 5vh;
}

.cloud2 {
    top: 10vh;
    left: 12vh;
}

.cloud3 {
    top: 8vh;
    left: 30vh;
}

.cloud4 {
    top: 6vh;
    right: 10vh;
}

.cloud5 {
    top: 10vh;
    right: 15vh;
}

@keyframes clouds {
    50% {
     transform: translateX(20px);
    }
}

.car {
    position: fixed;
    bottom: 28vh;
    left: 50vh;
    width: 27.2vh;
    height: 7vh;
    background: #460779;
    padding: 1vh;
    border: 0.1vh solid black;
    border-radius: 3vh 9vh 0 0;
}

.windows {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* WebKit-based browsers will ignore this. */
    width: -moz-available;
    /* Mozilla-based browsers will ignore this. */
    width: -webkit-fill-available;
    gap: 8.6vh;
}

.back-window,
.front-window {
    width: 8vh;
    height: 3vh;
    background: #498f8f;
    border: 0.1vh solid black;
}

.front-window {
    border-radius: 0 3vh 0 0;
}

.back-window {
    border-radius: 2vh 0 0 0;
    border-bottom-right-radius: 0;
}

.chassis {
    position: fixed;
    bottom: 25vh;
    left: 48vh;
    width: 39vh;
    height: 7vh;
    background-color: #460779;
    border-radius: 3vh 4vh 2vh 2.5vh;
    border: 0.1vh solid black;
}


.tires {
    position: fixed;
    bottom: 27vh;
}

.front-tire {
    position: fixed;
    left: 82vh;
    width: 1vh;
    height: 1vh;
    background-color: #0b0b2b;
    border-top: 0.8vh solid #ffffff;
    border-right: 0.8vh solid #a8a8a8;
    border-bottom: 0.8vh solid #ffffff;
    border-left: 0.8vh solid #a8a8a8;
    box-shadow: 0 0 0 1.5vh #1f2050;
    border-radius: 20vh;
}

.back-tire {
    position: fixed;
    left: 52vh;
    width: 1vh;
    height: 1vh;
    background-color: #0b0b2b;
    border-top: 0.8vh solid #ffffff;
    border-right: 0.8vh solid #a8a8a8;
    border-bottom: 0.8vh solid #ffffff;
    border-left: 0.8vh solid #a8a8a8;
    box-shadow: 0 0 0 1.5vh #1f2050;
    border-radius: 20vh;
}

.front-light{
    background-color: rgb(255, 238, 0);
    position: fixed;
    bottom: 30vh;
    left: 85vh;
    width: 2vh;
    height: 1vh;
}

.back-light{
    background-color: rgb(255, 0, 0);
    position: fixed;
    bottom: 30vh;
    left: 49vh;
    width: 2vh;
    height: 1vh;
}

.car-front-light{
    position: fixed;
    right: 97vh;
    width: 1vh;
    height: 1.8vh;
    bottom: 15vh;
    transform: rotate(270deg);
    border-left: 8vh solid transparent;
    border-right: 8vh solid transparent;
    border-bottom: 29vh solid rgb(162, 165, 8);
    opacity: 15%;
}

.car-back-light{
    position: fixed;
    right: 154vh;
    width: 1vh;
    height: 0.5vh;
    bottom: 27vh;
    transform: rotate(90deg);
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-bottom: 6vh solid rgb(231, 10, 10);
    opacity: 15%;
}

.light1{
    position: fixed;
    top: 55vh;
    left: 90.3vh;
    width: 2vh;
    height: 0vh;
    border-left: 8vh solid transparent;
    border-right: 8vh solid transparent;
    border-bottom: 29vh solid rgb(227, 231, 10);
    transform: rotate(270deg);
    opacity: 15%;
}

.light2{
    position: fixed;
    top: 67vh;
    left: 46.5vh;
    width: 2vh;
    height: 0vh;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-bottom: 5vh solid rgb(231, 10, 10);
    transform: rotate(90deg);
    opacity: 15%;
}

.tree1{
    background-color: rgb(68, 31, 1);
    position: absolute;
    top: -39vh;
    right: 40vh;
    width: 4vh;
    height: 35vh;
}

.leaves1{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 30vh;
    height: 5vh;
    top: 0vh;
    left: -13vh;
}

.leaves2{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 20vh;
    height: 5vh;
    top: -15vh;
    left: -9vh;
}

.leaves3{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 25vh;
    height: 5vh;
    top: -15vh;
    left: -10vh;
}

.leaves4{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 10vh;
    height: 3vh;
    top: -5vh;
    left: -7vh;
}

.leaves5{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 10vh;
    height: 3vh;
    top: -11vh;
    left: 2vh;
}

.tree2{
    background-color: rgb(68, 31, 1);
    position: absolute;
    top: -39vh;
    left: 40vh;
    width: 4vh;
    height: 35vh;
}

.leaves6{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 30vh;
    height: 5vh;
    top: 0vh;
    left: -12vh;
}

.leaves7{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 20vh;
    height: 5vh;
    top: -15vh;
    left: -8vh;
}

.leaves8{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 25vh;
    height: 5vh;
    top: -15vh;
    left: -10vh;
}

.leaves9{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 10vh;
    height: 3vh;
    top: -5vh;
    left: -5vh;
}

.leaves10{
    position: relative;
    border-radius: 3vh;
    background: linear-gradient(360deg, rgb(34, 241, 7) 50%, rgb(2, 112, 7) 50%);
    width: 10vh;
    height: 3vh;
    top: -11vh;
    left: 3vh;
}

